@media (min-width: 676px) {
  html {
    font-size: 15px !important;
  }

  .φm {
    min-width: 715px !important;
    transform: translateY(-10px);
  }

  /* .φn {
    transform: translateX(15px);
  }

  .φdg {
    width: 320px !important;
  }

  .φdq.φdr {
    width: 300px !important;
  } */
}

.vmeta > span.vat {
  font-size: 0.95rem !important;
  color: #7c46dd !important;
}

#sunflower {
  font-size: 1.2rem;
  cursor: pointer;
}

/* is-r.φet {
  transform: translateX(25px);
} */
