html {
    font-size: 15px !important;
}

.φdg {
   
    width: 299px o !important;
}

@media (min-width: 676px){
.φm {

    min-width: 780px !important;
}
}

.vmeta>span.vat {
    font-size: 0.95rem !important;
    color: #7c46dd !important;
}