html {
  font-size: 15px !important;
}

.φdg {
  width: 299px !important;
}

@media (min-width: 676px) {
  .φm {
    min-width: 830px !important;
    transform: translateX(-80px);
  }
}

.vmeta > span.vat {
  font-size: 0.95rem !important;
  color: #7c46dd !important;
}

.φdq.φdr {
  width: 300px !important;
}

#sunflower {
  font-size: 1.2rem;
  cursor: pointer;
}
