.highlight {
    /* 方便copy代码按钮（btn-copy）的定位 */
    position: relative;
}
.btn-copy {
      border-radius: 3px;
    border-width: 0px;
    font-size: 21px;
    line-height: 20px;
    padding: 2px 6px;
    position: absolute;
    right: 5px;
    top: 9px;
    background: none;
    color: #f90a0a;
    opacity: 0.5;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}
.btn-copy span {
    margin-left: 5px;
}
.highlight:hover .btn-copy {
    opacity: 0.9;
}
